{% comment %}
Source: https://mailchimp.com/resources/favicon-guide/#section-favicon-size-guidelines
{% endcomment %}
{% assign icon_sizes = "16, 32, 72, 96, 114, 128, 195" | split: ", " %}

<head>
  <link href="/assets/style.css" rel="stylesheet"/>

  {% for size in icon_sizes %}
    <link rel="icon" href="/assets/logo-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}" type="image/png"/>
  {% endfor %}

  <link href="{{ site.url }}/feed.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml"/>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="#ba9cff" name="theme-color"/>
  <meta name="google-site-verification" content="Lp8ldkXyem8rqHH9hB5ZlDGplTzH5yJHN_pCF3Ri9LU"/>
  <meta property="twitter:description" content="{{ page.description | markdownify | strip_html }}"/>
  <meta name="color-scheme" content="dark light"/>
  <meta name="fediverse:creator" content="@TheEvilSkeleton@treehouse.systems" />

  {% if page.layout == "post" %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:author" content="Hari Rana"/>
  {% endif %}

  {% if page.embed_image %}
    <meta property="og:image" content="{{ page.embed_image }}"/>
    <meta property="twitter:image" content="{{ page.embed_image }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
  {% else %}
    <meta property="og:image" content="/assets/logo-256x256.webp"/>
    <meta property="twitter:image" content="/assets/logo-256x256.webp"/>
  {% endif %}
  {% seo %}
</head>
