<figure>
  <picture>
    {% if include.url-light != nil %}
    <source
      srcset="{{ include.url-light }}"
      media="(prefers-color-scheme: light)"
    />
    {% endif %}
    <img role="presentation"
      {% if include.drop_shadow == nil %} class="drop-shadow" {% endif %}
      src="{{ include.url }}"
      alt="" {{ include.url | size_to_html }}
      {% if include.lazy == nil %} loading="lazy" {% endif %}
    />
  </picture>
  <figcaption>{{ include.caption | markdownify | strip }}</figcaption>
</figure>
