{% comment %}
Stands for "Key Value List"
{% endcomment %}

<section class="key-value-list">
  <ul>
    {% for row in include.rows %}
      <li><span>{{ row.key }}:</span> {{ row.value | markdownify | remove: '<p>' | remove: '</p>' }}</li>
    {% endfor %}
  </ul>
</section>
