<section class="presentation">
  {% for row in include.rows %}
  <div>
    {% include image.html url=row.image drop_shadow=row.drop_shadow url-light=row.image-light %}
    <section>
      <p class="big">{{ row.title }}</p>
      <p>{{ row.description }}</p>

      {% if row.source %}
      <p><b><a href="{{ row.source }}">Source Image</a></b></p>
      {% endif %}
    </section>
  </div>
  {% endfor %}
</section>
