<figure>
  <video src="{{ include.url }}"
    {% if include.drop_shadow == nil %} class="drop-shadow" {% endif %}
    controls="controls"
    alt=""
  ></video>
  <figcaption>{{ include.caption | markdownify | strip }}</figcaption>
</figure>
