---
layout: base
---
<main id="main" class="marketing-page">
  <header>
    <h1><img src="{{ page.icon }}" alt="" height="64" width="64">{{ page.title }}</h1>
    <p class="big">{{ page.description }}</p>
  </header>
  {% include content.html content=content %}
</main>
