---
layout: base
---

<main>
  <article id="main">
    <header>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <p><time datetime="{{ page.date }}">{{ page.date | date: date_format }}</time></p>

      <h1>{{ page.title }}</h1>
    </header>

    {% if page.trigger or page.disclaimer or page.archived %}
      <div class="statements">
        {% if page.archived %}
          <section class="card archived">
            <strong class="big">Archived</strong>
            {{ page.archived | markdownify }}
          </section>
        {% endif %}

        {% if page.trigger %}
          <section class="card trigger">
            <strong class="big">Content Warning</strong>
            {{ page.trigger | markdownify }}
          </section>
        {% endif %}

        {% if page.disclaimer %}
          <section class="card disclaimer">
            <strong class="big">Disclaimer(s)</strong>
            {{ page.disclaimer | markdownify }}
          </section>
        {% endif %}
      </div>
    {% endif %}

    {% if page.toc == true %}
      {% assign toc_label = "Table of Contents" %}
      <section class="toc" aria-labelledby="toc-label">
        <details class="card">
          <summary class="big" aria-labelledby="toc-label"><strong id="toc-label">{{ toc_label }}</strong></summary>
          <nav aria-labelledby="toc-label">
            {% toc %}
          </nav>
        </details>
      </section>
    {% endif %}

    {% include content.html content=content %}
  </article>
</main>
