/*
 * _mixins.scss
 * Copyright (C) 2024 Hari Rana / TheEvilSkeleton and contributors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>
 */


// Box
@mixin box() {
  --_border-px: 1px;
  --_margin-inline: 6px;
  --_high-contrast-border-color: oklch(var(--high-contrast-border-lightness) 0.15 var(--accent-hue));

  background: var(--box-background-color);
  margin-inline: auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow-box);
  border: solid var(--_border-px) var(--_high-contrast-border-color, var(--card-outline-color, var(--box-background-color)));
  padding:
    calc(var(--box-padding-size) - var(--_border-px))
    clamp((var(--main-margin-inline) - var(--_border-px)) / 2 - var(--_margin-inline), (100% - var(--max-width) - var(--_border-px)) / 2, var(--box-padding-size) + 0.25rem);
}

@mixin codeblock($padding-size, $background-color) {
  --box-padding-size: #{$padding-size};
  --box-background-color: #{$background-color};

  grid-column: breakout-large;
  max-width: calc(100% - var(--main-margin-inline));
  min-width: var(--content-width);

  @include box();
}

@mixin generate-range($base, $max, $variable, $unit: "", $inverse: false, $gap: 1) {
  $i: $base;

  @if ($inverse) {
    @while $i <= $max {
      #{$variable}-#{$i}: #{$max - $i}#{$unit};
      $i: $i + $gap;
    }
  }
  @else {
    @while $i <= $max {
      #{$variable}-#{$i}: #{$i}#{$unit};
      $i: $i + $gap;
    }
  }
}